<h1>Team Information</h1>

<h2><%= @team.name %></h2>
<ul class="align">
    <li>Type/player: <%= @team.type_player %></li>
    <li>Role: <%= @team.role %></li>
    <li>Team Quote: <%= @team.quote %></li>
</ul><br>
<h3>Assignments</h3>
<%= link_to "Assignments", team_assignments_path(@team), :class => "load_assignments" %>

<h3>Current Team</h3>
<ol class="align" id="assignments">
<% @players.each do |p| %>
    <li class="assignment"><%= p.name %></li>
<% end %>
</ol>
<br>
<p><%= link_to "Add assignment", new_team_assignment_path(@team) %></p>
<br></br>
<%= render 'assignments/form' %>
<p><%= link_to "Edit this team's info", edit_team_path(@team) %> | <%= link_to "Delete Team", @team, method: :delete, data: { confirm: "Confirm Deleting?" }  %></p>
<li><a href="/home"><button class="btn btn-primary">Home</button></a></li>
