<h1>Team Information</h1>

<h2><%= @team.name %></h2>
<ul class="align">
    <li>Type/player: <%= @team.type_player %></li>
    <li>Role: <%= @team.role %></li>
    <li>Team Quote: <%= @team.quote %></li>
</ul><br>
<h3>Assignments</h3>
<%= link_to "Assignments", team_assignments_path(@team), :class => "load_assignments" %>

<h3>Current Team</h3>
<ul class="align">
<% @players.each do |p| %>
    <li><%= p.name %></li>
<% end %>
</ul>
<br>
<p><%= link_to "Add assignment", new_team_assignment_path(@team) %></p>

<%= form_for([@team, @assignment]) do |f| %>
<div class="center">
    <strong><%= f.label :name %></strong>
    <%= f.text_field :name %><br>

    <strong><%= f.label :description %></strong>
    <%= f.text_field :description %><br></br>

    <strong><%= f.label :team_id %></strong><br>
    <!-- <%= f.collection_check_boxes :team_id, Team.all, :id, :name %><br></br> -->
    <%= f.select(:team_id) do %>
        <%= options_from_collection_for_select(Team.all, :id, :name, :selected => @assignment.team_id) %>
    <% end %>

    <br></br>
    <strong><%= f.label :player_id %></strong><br>
    <!--<%= f.collection_check_boxes :player_id, Player.all, :id, :name %><br> -->
    <%= f.select(:player_id) do %>
        <%= options_from_collection_for_select(Player.all, :id, :name, :selected => @assignment.player_id) %>
    <% end %>

    <br></br>
    <!-- <%= f.submit %> -->
    <button type="submit" name="commit" value="Create Assignment class="btn btn-primary"">Create Assignment</button>
</div>
<% end %>


<br></br>

<p><%= link_to "Edit this team's info", edit_team_path(@team) %> | <%= link_to "Delete Team", @team, method: :delete, data: { confirm: "Confirm Deleting?" }  %></p>
<li><a href="/home"><button class="btn btn-primary">Home</button></a></li>
