<h1>Log In</h1>

<%= form_for @player, url: {action: "login"} do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.submit "Log In" %>
<% end %>
Or: <br />
<p><%= link_to('Log in with Github!', '/auth/github') %></p>
