<h1>Personnel file: <%= "#{@player.name}" %></h1>

<div>
    <ul>
        <li>Admin: <%= @player.leader %></li>
        <li>Specialty: <%= @player.specialty %></li>
        <br>
    </ul>
<br>
<br>
<div class="realign1">
<p class="realign"><%= link_to "Edit", edit_player_path(@player) %> | <%= link_to "Delete", @player, method: :delete, data: { confirm: "Confirm Deleting?" } %></p>
<li><a href="/home"><button class="btn btn-primary">Home</button></a></li>
</div>
